@model DynamicCharts.Models.PieChart

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PieChart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.XAxis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.XAxis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YAxis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YAxis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
